:root {
  --background-color: white;
  --text-color: #black;
  --link-color: #543fd7;
}

html[data-theme='light'] {
  --background-color: white;
  --text-color: black;
  /* --link-color: #543fd7; */
}

html[data-theme='dark'] {
  --background-color: black;
  --text-color: rgb(220, 220, 220);
  /* --link-color: #828fff; */
}
input, textarea{
  outline: none
}

body{
  background-color: var(--background-color);
}
a,p,h1,h2,h3,h4,h5,h6{
  font-family: Inter;
  color: var(--text-color);
}

.App{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}
#leftbar{
  width: 25%;
  padding-top: 100px;
}
#leftbar .link{
  display: block;
  padding: 4px;
  border: 1px solid grey;
  text-decoration: none;
  width: 100px;
  margin: 1rem;
}
#main{
  width: 50%;
  border: 1px solid 
}
.rightbar{
  width: 25%;
}
#post-button{
  position: fixed;
  bottom: 100px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
}

/* main column */
#main > header{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}
#main > header > p{
  font-size: 2rem;
  margin: 0 auto;
}
#main > header > input{
  flex-grow: 1;
  padding: 0 10px;
  margin: 0 10px;
}
#main > header > svg{
  width: 30px;
  cursor: pointer;
}

/* posts */
.post{
  border-bottom: 1px solid grey;
}
.post header{
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.post > header > .author{
  display: flex;
}
.post > header > .author p{
  margin: 0 0 0 1rem;
  font-size: 20px;
}
.post .nav-buttons{
  display: flex;
}
.post .nav-buttons svg{
  width: 20px;
  cursor: pointer;
}
.post .date p{
  margin: 0 1rem 0 0;
}

.body{
  padding: 0.5rem;
}
.body > p{
  display: inline;
}
.body > .mention:hover{
  cursor: pointer;
  text-decoration: underline;
}

/* modal */
#modal-wrapper{
  height:100vh;
  width: 100vw;
  background-color: rgb(0,0,0,0.9);
  position:fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#composer{
  z-index:200;
  position:fixed;
  /* width: 500px;
  height: 800px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#composer .textarea{
  padding: 1rem;
}
#composer textarea{
  height: 300px;
}
