:root {
  --background-color: rgb(220,220,220);
  --text-color: #black;
  --link-color: #543fd7;
}

html[data-theme='light'] {
  --background-color: rgb(220,220,220);
  --text-color: black;
  /* --link-color: #543fd7; */
}

html[data-theme='dark'] {
  --background-color: black;
  --text-color: rgb(220, 220, 220);
  /* --link-color: #828fff; */
}

.body{
  background-color: var(--background-color);
}
a,p,h1,h2,h3,h4,h5,h6{
  font-family: Inter;
  color: var(--text-color);
}

.App{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}
#leftbar{
  width: 25%;
  padding-top: 100px;
}
#leftbar .link{
  display: block;
  padding: 4px;
  border: 1px solid grey;
  text-decoration: none;
  width: 100px;
  margin: 1rem;
}
#main{
  width: 50%;
  border: 1px solid 
}
.rightbar{
  width: 25%;
}
#post-button{
  position: fixed;
  bottom: 100px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
}
